@import "./mixins";
@import "./colors";
@import "./vars";

.portfolio {

	background: $c_wild-sand;

	&__content {
		padding: 60px 0;

		@include media($m_tab, $m_pc) {
			padding: 61px 0 60px 0;
		}

		@include media(0, $m_tab) {
			padding: 40px 0;
		}
	}

	&__title {
		margin-bottom: 50px;

		text-align: center;

		@include media(0, $m_tab) {
			margin-bottom: 31px;
		}
	}

	&__panel {
		position: absolute;
		top: 454px;
		left: 0;
		right: 0;
		bottom: 0;

		padding: 31px 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		background: rgba($c_black--dl, .85);

		content: "";

		@include media(0, $m_tab) {
			top: 423px;

			padding: 20px 15px;
		}
	}

	&__subtitle {
		margin-bottom: 17px;
		display: inline-block;

		font-size: 18px;
		font-weight: 500;
		line-height: 21px;
		color: $c_white;

		border-bottom: 1px dashed $c_white;
		outline: none;

		transition: $tr_duration $tr_easing;

		@include media(0, $m_tab) {
			max-width: 159px;
		}

		@include media(0, $m_tab) {
			margin-bottom: 16px;

			text-align: center;
		}

		&:hover,
		&:focus {
			border-bottom: 1px solid $c_white;
		}
	}

	.text-small {
		max-width: 400px;

		font-weight: 500;
		text-align: center;
		color: $c_white;
	}
}

.swiper-container {
	height: 604px;
}

.swiper-button-prev,
.swiper-button-next {
	height: auto;
	width: auto;

	outline: none;
	transition: opacity $tr_easing $tr_duration;

	&:hover,
	&:focus {
		opacity: .5;
	}
}

.swiper-button-prev {
	left: 30px;

	@include media(0, $m_tab) {
		left: 15px;
	}
}

.swiper-button-next {
	right: 30px;

	@include media(0, $m_tab) {
		right: 15px;
	}
}

.swiper-button-prev:after,
.swiper-button-next:after {
	width: 25px;
	height: 42px;

	background: url(/static/images/icon-arrow.svg) center center no-repeat;
	background-size: cover;

	content: "";
}

.swiper-button-next:after {
	transform: rotate(180deg);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: .1;

	transition: opacity $tr_duration $tr_easing;
}