<section class="portfolio">
	<div class="container__portfolio container">
		<div class="portfolio__content">
			<h2 class="portfolio__title title-two">Portfolio</h2>
			<div class="portfolio__slider">
				<picture>
					<source srcset="/static/images/portfolio.jpg, /static/images/portfolio-retina.jpg 2x">
					<img class="portfolio__img" src="/static/images/portfolio.jpg" alt="Portfolio project">
				</picture>
				<button class="portfolio__button portfolio__button--left"><img class="portfolio__arrow portfolio__arrow--left" src="static/images/icon-arrow.svg" width="25" height="42" alt="Toggle left"></button>
				<button class="portfolio__button portfolio__button--right"><img class="portfolio__arrow portfolio__arrow--right" src="static/images/icon-arrow.svg" width="25" height="42" alt="Toggle left"></button>
				<div class="portfolio__panel">
					<a class="portfolio__subtitle" href="#">Learning site for DL Academy courses</a>
					<p class="portfolio__text text-small">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
				</div>
			</div>
		</div>
	</div>
</section>