<section class="portfolio">
	<div class="container__portfolio container">
		<div class="portfolio__content">
			<h2 class="portfolio__title title-two">Portfolio</h2>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<picture>
							<source srcset="/static/images/portfolio.jpg, /static/images/portfolio-retina.jpg 2x">
							<img class="portfolio__img" src="/static/images/portfolio.jpg" alt="Portfolio project">
						</picture>
						<div class="portfolio__panel">
							<a class="portfolio__subtitle" href="#">Learning site for DL Academy courses</a>
							<p class="portfolio__text text-small">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
						</div>
					</div>
					<div class="swiper-slide">
						<picture>
							<source srcset="/static/images/portfolio.jpg, /static/images/portfolio-retina.jpg 2x">
							<img class="portfolio__img" src="/static/images/portfolio.jpg" alt="Portfolio project">
						</picture>
						<div class="portfolio__panel">
							<a class="portfolio__subtitle" href="#">Learning site for DL Academy courses</a>
							<p class="portfolio__text text-small">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
						</div>
					</div>
					<div class="swiper-slide">
						<picture>
							<source srcset="/static/images/portfolio.jpg, /static/images/portfolio-retina.jpg 2x">
							<img class="portfolio__img" src="/static/images/portfolio.jpg" alt="Portfolio project">
						</picture>
						<div class="portfolio__panel">
							<a class="portfolio__subtitle" href="#">Learning site for DL Academy courses</a>
							<p class="portfolio__text text-small">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>