@import "./mixins";
@import "./colors";
@import "./vars";

.search {
	padding-bottom: 20px;
	
	&__content {
		display: flex;
		align-items: center;

		@include media(0, $m_mob--md) {
			flex-wrap: wrap;
		}
	}

	&__input {
		width: 100%;
		margin-right: 30px;
		padding: 12px 14px;

		font-size: 18px;
		line-height: 21px;
		color: $c_black--dl;

		border: 2.5px solid $c_mercury;
		outline: none;

		transition: border-color $tr_duration $tr_easing;

		@include media(0, $m_mob--md) {
			margin-right: 0;
			margin-bottom: 20px;
		}

		&:hover {
			border-color: $c_gray;
		}

		&:focus {
			border-color: $c_black--dl;
		}
	}

	&__button {
		padding: 7.5px 17.5px;

		@include media(0, $m_mob--md) {
			margin-left: auto;
		}
	}
}