@import "./mixins";
@import "./colors";
@import "./vars";

.blog {
	padding-bottom: 60px;

	@include media(0, $m_tab) {
		padding-bottom: 40px;
	}

	&__list {
		display: flex;
		flex-direction: column;

		@include media(0, 670px) {
			align-items: center;
		}
	}

	&__item {
		padding: 19px 0 21px 0;

		display: flex;
		align-items: center;

		border-bottom: 2px solid $c_mercury;

		&:first-child {
			border-top: 2px solid $c_mercury;
		}

		&:last-child {
			border-bottom: none;
		}

		@include media(0, 670px) {
			width: 280px;
			padding: 19px 0 16px 0;
			flex-wrap: wrap;
		}
	}

	&__img {
		width: 320px;
		height: 236px;
		max-width: none;
		margin-right: 20px;

		@include media(670px, 800px) {
			width: 314px;
			height: 299px;
		}

		@include media(0, 670px) {
			width: 280px;
			height: 280px;
			margin-right: 0;
			margin-bottom: 19px;
		}
	}

	&__box {
		padding: 4px 20px 0 0;

		@include media(0, 670px) {
			padding: 0;
		}
	}

	&__tags {
		margin-bottom: 10px;
		display: flex;
	}

	&__tag {
		width: 30px;
		height: 10px;

		background: #000;

		border-radius: 5px;

		&:not(last-child) {
			margin-right: 5px;
		}
	}

	&__info {
		margin-bottom: 13px;
	}

	&__info span {
		color: $c_gray;

		&:not(:last-child) {
			margin-right: 7px;
		}
	}

	&__title {
		margin-bottom: 10px;
	}

	&__text {
		margin-bottom: 22px;

		letter-spacing: 0.1px;
	}

	&__link {
		margin-bottom: 5px;
		display: inline-block;

		border-bottom: 1px dashed $c_black--dl;
		outline: none;

		&:hover,
		&:focus {
			border-bottom-style: solid;
		}
	}
}

.blog-preload {
	padding: 19px 0 21px 0;
	display: flex;
	align-items: center;

	border-bottom: 2px solid $c_mercury;

	&:first-child {
		border-top: 2px solid $c_mercury;
	}

	&:last-child {
		border-bottom: none;
	}

	@include media(0, 670px) {
		width: 280px;
		padding: 19px 0 16px 0;
		
		flex-wrap: wrap;
	}

	&__img {
		width: 320px;
		height: 236px;
		margin-right: 20px;

		background-color: rgba($c_gray, .7);
		border-radius: 10px;

		@include media($m_tab, $m_pc) {
			width: 314px;
			height: 299px;
		}

		@include media(0, $m_tab) {
			width: 280px;
			height: 280px;
		}

		@include media(0, 670px) {
			margin-right: 0;
			margin-bottom: 19px;
		}
	}

	&__box {
		width: 64%;
		padding: 4px 20px 0 0;

		@include media(0, 670px) {
			width: 100%;
			padding: 0;
		}
	}

	&__tags {
		width: 65px;
		height: 10px;
		margin-bottom: 10px;

		background-color: rgba($c_gray, .5);
		border-radius: 10px;
	}

	&__info {
		width: 35%;
		height: 16px;
		margin-bottom: 13px;

		background-color: rgba($c_gray, .5);
		border-radius: 10px;

		@include media(0, 670px) {
			width: 80%;
		}
	}

	&__title {
		width: 30%;
		height: 29px;
		margin-bottom: 10px;

		background-color: rgba($c_gray, .5);
		border-radius: 10px;

		@include media(0, 670px) {
			width: 85%;
		}
	}

	&__text {
		width: 90%;
		height: 63px;
		margin-bottom: 20px;

		display: inline-block;

		background-color: rgba($c_gray, .5);
		border-radius: 10px;
	}

	&__link {
		width: 123px;
		height: 22px;
		margin-bottom: 5px;

		background-color: rgba($c_gray, .5);
		border-radius: 10px;
	}
}

.blog-pagination {
	margin-top: 29px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include media($m_tab, $m_pc) {
		margin-top: 19px;
	}

	@include media(0, $m_tab) {
		margin-top: 9px;
	}

	&__list {
		margin-left: 10px;
		display: flex;
	}

	&__item {
		margin-right: 10px;
	}

	.text {
		color: $c_mercury;

		outline: none;

		transition: color $tr_duration $tr_easing;

		&.active {
			color: $c_black--dl;
		}

		&:hover,
		&:focus {
			color: $c_gray;
		}
	}
}