<section class="blog">
	<div class="blog__container container">
		<div class="blog__content">
			<ul class="blog__list">
				<li class="blog__item">
					<picture>
						<source srcset="/static/images/blog-1.jpg, /static/images/blog-1-retina.jpg 2x" media="(min-width: 800px)">
						<source srcset="/static/images/blog-1-tablet.jpg" media="(min-width: 670px) and (max-width: 799px)">
						<source srcset="/static/images/blog-1-mobile.jpg" media="(max-width: 669px)">
						<img class="blog__img" src="/static/images/blog-1.jpg" alt="Dog">
					</picture>
					<div class="blog__box">
						<div class="blog__tags">
							<span class="blog__tag blog__tag--f79824"></span>
							<span class="blog__tag blog__tag--6a7fdb"></span>
						</div>
						<div class="blog__info">
							<span class="blog__data text-small">20.01.2020</span>
							<span class="blog__views text-small">223 views</span>
							<span class="blog__comments text-small">97 comments</span>
						</div>
						<h3 class="blog__title title-three">This is my new dog.</h3>
						<p class="blog__text text">Duis sit odio dui pretium suspendisse malesuada sit leo in. Massa nec eget etiam tellus ac. Sodales nibh pellentesque donec eu ultrices tortor condimentum massa.</p>
						<a class="blog__link text text--bold" href="#">Go to this post</a>
					</div>
				</li>
				<li class="blog__item">
					<picture>
						<source srcset="/static/images/blog-2.jpg, /static/images/blog-2-retina.jpg 2x" media="(min-width: 800px)">
						<source srcset="/static/images/blog-2-tablet.jpg" media="(min-width: 670px) and (max-width: 799px)">
						<source srcset="/static/images/blog-2-mobile.jpg" media="(max-width: 669px)">
						<img class="blog__img" src="/static/images/blog-2.jpg" alt="Roosters">
					</picture>
					<div class="blog__box">
						<div class="blog__tags">
							<span class="blog__tag blog__tag--45cb85"></span>
							<span class="blog__tag blog__tag--33a1fd"></span>
						</div>
						<div class="blog__info">
							<span class="blog__data text-small">17.01.2020</span>
							<span class="blog__views text-small">12 views</span>
							<span class="blog__comments text-small">0 comments</span>
						</div>
						<h3 class="blog__title title-three">Why do roosters scream in the morning?</h3>
						<p class="blog__text text">Erat nunc parturient feugiat egestas adipiscing erat eu. Non neque mi volutpat et lectus.</p>
						<a class="blog__link text text--bold" href="#">Go to this post</a>
					</div>
				</li>
				<li class="blog__item">
					<picture>
						<source srcset="/static/images/blog-3.jpg, /static/images/blog-3-retina.jpg 2x" media="(min-width: 800px)">
						<source srcset="/static/images/blog-3-tablet.jpg" media="(min-width: 670px) and (max-width: 799px)">
						<source srcset="/static/images/blog-3-mobile.jpg" media="(max-width: 669px)">
						<img class="blog__img" src="/static/images/blog-3.jpg" alt="Kangaroo">
					</picture>
					<div class="blog__box">
						<div class="blog__tags">
							<span class="blog__tag blog__tag--2176ff"></span>
						</div>
						<div class="blog__info">
							<span class="blog__data text-small">17.01.2020</span>
							<span class="blog__views text-small">337 views</span>
							<span class="blog__comments text-small">48 comments</span>
						</div>
						<h3 class="blog__title title-three">Kangaroo. Start.</h3>
						<p class="blog__text text">At leo at nisl tortor egestas. Mauris luctus est luctus massa tellus erat gravida. Eget aenean eget diam habitant risus. Dapibus et, nec platea felis. Facilisi ut leo arcu, semper id pellentesque quisque ultrices etiam.</p>
						<a class="blog__link text text--bold" href="#">Go to this post</a>
					</div>
				</li>
				<li class="blog__item">
					<picture>
						<source srcset="/static/images/blog-4.jpg, /static/images/blog-4-retina.jpg 2x" media="(min-width: 800px)">
						<source srcset="/static/images/blog-4-tablet.jpg" media="(min-width: 670px) and (max-width: 799px)">
						<source srcset="/static/images/blog-4-mobile.jpg" media="(max-width: 669px)">
						<img class="blog__img" src="/static/images/blog-4.jpg" alt="Duck">
					</picture>
					<div class="blog__box">
						<div class="blog__tags">
							<span class="blog__tag blog__tag--f79824"></span>
							<span class="blog__tag blog__tag--45cb85"></span>
							<span class="blog__tag blog__tag--6a7fdb"></span>
						</div>
						<div class="blog__info">
							<span class="blog__data text-small">15.01.2020</span>
							<span class="blog__views text-small">222 views</span>
							<span class="blog__comments text-small">14 comments</span>
						</div>
						<h3 class="blog__title title-three">Met a duckling at the pond.</h3>
						<p class="blog__text text">Nulla tempus mauris sed vel bibendum. Felis urna suspendisse amet, laoreet sagittis. Semper pellentesque condimentum vitae morbi in dui. Et in et diam massa.</p>
						<a class="blog__link text text--bold" href="#">Go to this post</a>
					</div>
				</li>
				<li class="blog__item">
					<picture>
						<source srcset="/static/images/blog-5.jpg, /static/images/blog-5-retina.jpg 2x" media="(min-width: 800px)">
						<source srcset="/static/images/blog-5-tablet.jpg" media="(min-width: 670px) and (max-width: 799px)">
						<source srcset="/static/images/blog-5-mobile.jpg" media="(max-width: 669px)">
						<img class="blog__img" src="/static/images/blog-5.jpg" alt="Dogs">
					</picture>
					<div class="blog__box">
						<div class="blog__tags">
							<span class="blog__tag blog__tag--e08dac"></span>
							<span class="blog__tag blog__tag--57e2e5"></span>
						</div>
						<div class="blog__info">
							<span class="blog__data text-small">20.01.2020</span>
							<span class="blog__views text-small">122 views</span>
							<span class="blog__comments text-small">23 comments</span>
						</div>
						<h3 class="blog__title title-three">Can dogs also be friends?</h3>
						<p class="blog__text text">Eu, libero aliquet nibh turpis quis nulla et ullamcorper purus. Consequat egestas sed sagittis morbi lacus. Consectetur et justo, sagittis vitae mi faucibus urna, eu.</p>
						<a class="blog__link text text--bold" href="#">Go to this post</a>
					</div>
				</li>
			</ul>
			<div class="blog__pagination blog-pagination">
				@@include('arrow-button/index.html', {
					"type": "normal",
					"rotation": "left"
				})
				<ul class="blog-pagination__list">
					<li class="blog-pagination__item"><a class="blog-pagination__link text text--bold link_js" href="?page=1">1</a></li>
					<li class="blog-pagination__item"><a class="blog-pagination__link text text--bold link_js" href="?page=2">2</a></li>
					<li class="blog-pagination__item"><a class="blog-pagination__link text text--bold link_js" href="?page=3">3</a></li>
					<li class="blog-pagination__item"><a class="blog-pagination__link text text--bold link_js" href="?page=4">4</a></li>
					<li class="blog-pagination__item"><a class="blog-pagination__link text text--bold link_js" href="?page=5">5</a></li>
					<li class="blog-pagination__item"><a class="blog-pagination__link text text--bold link_js" href="?page=6">6</a></li>
					<li class="blog-pagination__item"><a class="blog-pagination__link text text--bold link_js" href="?page=7">7</a></li>
					<li class="blog-pagination__item"><a class="blog-pagination__link text text--bold link_js" href="?page=8">8</a></li>
				</ul>
				@@include('arrow-button/index.html', {
					"type": "normal",
					"rotation": "right"
				})
			</div>
		</div>
	</div>
</section>